.navbar {
  background: white;
  display: flex;
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  min-width: 220px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

.logo {
  height: 62px;
  position: absolute;
  left: 50%;
  top: 6px;
  transform: translateX(-50%);
  cursor: pointer;
}

.navbarLinks {
  position: fixed;
  left: 75%;
  top: 26px;
  transform: translateX(-50%);
  cursor: pointer;
  list-style: none;
  display: none;
}

.navbarLink {
  text-decoration: none;
  font-size: 18px;
  font-weight: medium;
  margin: 0 12px;
  font-family: "Roboto", sans-serif;
  color: #356abc;
}

.hamburger {
  height: 32px;
  width: 31px;
  cursor: pointer;
  transition: 0.25s ease;
  position: fixed;
  z-index: 10;
  top: 18px;
  left: 18px;
  padding: 5px;
}

.hamburger .line {
  width: 21px;
  height: 3px;
  background: #356abc;
  margin: 5px;
}

.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.line2 {
  opacity: 0;
}
.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.sidebarDiv {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 2;
  background-color: white;
  transition: 0.2s ease;
}

.sidebarDivActive {
  width: 75%;
}

.sidebarLinks {
  display: none;
  flex-direction: column;
  padding: 8rem 48px;
  margin: auto;
  text-align: center;
  opacity: 0%;
  transition: 0.2s ease;
}

.sidebarLinksActive {
  display: flex;
  opacity: 100%;
}

.sidebarLink {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: medium;
  text-decoration: none;
  margin: 24px 0;
  color: #356abc;
}

.container {
  width: 90%;
  max-width: 690px;
  height: 80vh;
  margin: 120px auto 60px auto;
  font-family: "Minecraft";
}

@media screen and (min-width: 720px) {
  .sidebarDivActive {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .navbarLinks {
    display: flex;
  }
  .sidebarDivActive {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .logo {
    left: 25%;
  }
}
