.temp-detallado {
  margin-top: -2rem;
}

.no-margin {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 375px) {
  .collection-number {
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .collection-item {
    min-height: 70px;
  }
}
